{% extends "base.html" %}
{% load staticfiles %}
{% block title %}归还清单{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="col-md-2">
                    <div class="list-group">
                        <a href="?category=" class="list-group-item active" id="id_category_all">
                            全部归还图书
                        </a>
                    </div>


                </div>
                <div class="col-md-9 col-md-offset-2">


                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>书名</th>
                            <th>归还日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for book in all_books.object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="">{{ book.book_name }}</a></td>
                                <td>{{ book.borrow_date|date:"Y-m-d" }}</td>

                            </tr>
                        {% empty %}
                            <tr>
                                <td>暂无图书</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pager">

                            {% if all_books.has_previous %}
                                <li class="long"><a href="?{{ all_books.previous_page_number.querystring }}">上一页</a></li>
                            {% endif %}

                            {% for page in all_books.pages %}
                                {% if page %}
                                    {% ifequal page all_books.number %}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="pager">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li class="none"><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if all_books.has_next %}
                                <li class="long"><a href="?{{ all_books.next_page_number.querystring }}">下一页</a></li>
                            {% endif %}


                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
